

    

    <main>
        <div class="image-link">
            <a href="#">
                <img src="grid/Tile-Banner-1800-x1800_cf571d01-c836-47cd-95ed-aa172f80257b_800x.jpg" alt="Sale Banner">
            </a>

        </div>

        <div class="video-container">
            <video width="100%" controls autoplay >
                <!-- <source src="videos/mainpagevideo.mp4" type="video/mp4">,,,,, -->
                Your browser does not support the video tag.
            </video>
        </div>

        <div class="button-section">
            <a href="explore-more.html" class="explore-button">Explore More</a>
        </div>




<!-- Image Grid Section -->
<div class="image-grid">
    <div class="image-grid-item small" style="background-image: url('grid/Tile-Banner-1800-x1800_18a19bd9-b820-4269-a93a-e960d03b165a.jpg');">
        <div class="text-box">READY TO WEAR</div>
        <a href="shop-now.html" class="shop-now-button">Shop Now</a>
    </div>
    <div class="image-grid-item small" style="background-image: url('grid/Tile-Banner-1800-x1800-Fragrance-Magnificent.jpg');">
        <div class="text-box">FRAGRANCE</div>
        <a href="shop-now.html" class="shop-now-button">Shop Now</a>
    </div>
    <div class="image-grid-item large" style="background-image: url('grid/Tile-Banner-1800-x1800_cf571d01-c836-47cd-95ed-aa172f80257b_800x.jpg');">
        <div class="text-box">SALE</div>
        <a href="shop-now.html" class="shop-now-button">Shop Now</a>
    </div>
    <div class="image-grid-item small" style="background-image: url('grid/Tile-Banner-1800-x1800-_Mens-A_0c69f6d9-c456-479a-975a-7f9f2dc802e4.jpg');">
        <div class="text-box">MENS WEAR</div>
        <a href="shop-now.html" class="shop-now-button">Shop Now</a>
    </div>
    <div class="image-grid-item small" style="background-image: url('grid/WhatsApp_Image_2024-02-06_at_15.25.14_168534ae.jpg');">
        <div class="text-box">COSMETICS</div>
        <a href="shop-now.html" class="shop-now-button">Shop Now</a>
    </div>
</div>


<!-- New Section for "Top Picks" -->
<div class="top-picks-section">
    <h2 class="top-picks-heading">Top Picks</h2>
    <div class="button-group">
        <a href="new-arrivals.html" class="rounded-button">New Arrivals</a>
        <a href="unstitched.html" class="rounded-button">Unstitched</a>
        <a href="ready-to-wear.html" class="rounded-button">Ready to Wear</a>
    </div>
</div>

 <!-- Dropdown Menu for Mobile Screens -->
 <div class="dropdown">
    <select class="dropdown-menu">
        <option value="new-arrivals.html">New Arrivals</option>
        <option value="unstitched.html">Unstitched</option>
        <option value="ready-to-wear.html">Ready to Wear</option>
    </select>
</div>
</div>


<!-- Product Grid Section -->
<div class="product-grid">
    <div class="product-item">
        <div class="product-image" id="picone" style="background-image: url('logos/pic1.webp');" 
             data-hover-image="product1-hover.jpg">
        </div>
        <a href="product1.html" class="product-name">HOT-PINK-LAWN-3 PIECE (SAS233P53)
    </a>
        <div class="product-price">PKR.7,184</div>
        <div class="product-sizes">
            <span class="size">8</span>
            <span class="size">10</span>
            <span class="size">12</span>
            <span class="size">14</span>
            <span class="size">16</span>
        </div>
    </div>

    <div class="product-item">
        <div class="product-image" id="pictwo" style="background-image: url('logos/pic2.webp');" 
             data-hover-image="product2-hover.jpg">
        </div>
        <a href="product2.html" class="product-name">BLACK-LAWN-3 PIECE (BSAS233P05)
            
            </a>
        <div class="product-price">PKR.6,784</div>
        <div class="product-sizes">
            <span class="size">8</span>
            <span class="size">10</span>
            <span class="size">12</span>
            <span class="size">14</span>
            <span class="size">16</span>
        </div>
    </div>

    <div class="product-item">
        <div class="product-image" id="picthree" style="background-image: url('logos/pic3.webp');" 
             data-hover-image="product3-hover.jpg">
        </div>
        <a href="product3.html" class="product-name">FAWN-CAMBRIC-2 PIECE (SRLS232P07)
            
            </a>
        <div class="product-price">PKR.5,904</div>
        <div class="product-sizes">
            <span class="size">8</span>
            <span class="size">10</span>
            <span class="size">12</span>
            <span class="size">14</span>
            <span class="size">16</span>
        </div>
    </div>

    <div class="product-item">
        <div class="product-image" id="picfour" style="background-image: url('logos/pic4.webp');" 
             data-hover-image="product4-hover.jpg">
        </div>
        <a href="product4.html" class="product-name">BLUE-YARN DYED-1 PIECE (SAS231P12)
            
            </a>
        <div class="product-price"> PKR.4,328</div>
        <div class="product-sizes">
            <span class="size">8</span>
            <span class="size">10</span>
            <span class="size">12</span>
            <span class="size">14</span>
            <span class="size">16</span>
        </div>
    </div>
</div>


<div class="half-container">
    <!-- Left Image Div -->
    <div class="half left">
        <a href="#">
            <img src="logos/IMG_5308_1_900x.webp" alt="Product Image" class="full-image">
        </a>
    </div>

    <!-- Right Text Div -->
    <div class="half right">
        <div class="text-content">
            <h2>Beauty & Fragrances</h2>
            <p>Create your charm to leave a lasting impression by counting on our captivating and breathtaking fragrances and irresistible beauty products. Explore the world of our fragrances and beauty range available now!</p>
            <a href="shop-now.html" class="shop-now-btn">Shop Now</a>
        </div>
    </div>
</div>

<div class="info-section">
    <!-- Top left corner: Truck icon and text -->
    <div class="left-section">
        <img src="logos/trucks.webp" alt="Truck Icon" class="icon">
        <span class="info-text">SHIPPING <br>

            Flat Rs. 200 shipping charges on all orders</span>
    </div>

    <!-- Top right corner: Telephone icon and text -->
    <div class="right-section">
        <img src="logos/tele.jpeg" alt="Telephone Icon" class="icon">
        <span  class="info-text">ONLINE SUPPORT <br>UAN: +123 456 7890 </span>
        
        
    </div>

    <!-- Centered bottom section with heading, paragraph, and email input -->
    <div class="center-section">
        <h2>NEWSLETTER</h2>
        <p>Sign up to stay in the loop. Receive updates, access to exclusive deals, and more.</p>
        <div class="subscribe-form">
            <input type="email" placeholder="Enter your email" class="email-input">
            <button class="subscribe-btn">Subscribe</button>
        </div>
    </div>
</div>

<div class="suggestion">
    <p>Suggestions for you</p>
</div>



<!-- Product Grid Section -->
<div class="product-grid">
    <div class="product-item">
        <div class="product-image" id="picone" style="background-image: url('logos/pic1.webp');" 
             data-hover-image="product1-hover.jpg">
        </div>
        <a href="product1.html" class="product-name">HOT-PINK-LAWN-3 PIECE (SAS233P53)
    </a>
        <div class="product-price">PKR.7,184</div>
   
    </div>

    <div class="product-item">
        <div class="product-image" id="pictwo" style="background-image: url('logos/pic2.webp');" 
             data-hover-image="product2-hover.jpg">
        </div>
        <a href="product2.html" class="product-name">BLACK-LAWN-3 PIECE (BSAS233P05)
            
            </a>
        <div class="product-price">PKR.6,784</div>
  
    </div>

    <div class="product-item">
        <div class="product-image" id="picthree" style="background-image: url('logos/pic3.webp');" 
             data-hover-image="product3-hover.jpg">
        </div>
        <a href="product3.html" class="product-name">FAWN-CAMBRIC-2 PIECE (SRLS232P07)
            
            </a>
        <div class="product-price">PKR.5,904</div>
   
    </div>

    <div class="product-item">
        <div class="product-image" id="picfour" style="background-image: url('logos/pic4.webp');" 
             data-hover-image="product4-hover.jpg">
        </div>
        <a href="product4.html" class="product-name">BLUE-YARN DYED-1 PIECE (SAS231P12)
            
            </a>
        <div class="product-price"> PKR.4,328</div>
     
    </div>
</div>


<!-- Product Grid Section -->
<div class="product-grid">
    <div class="product-item">
        <div class="product-image" id="picone" style="background-image: url('logos/pic1.webp');" 
             data-hover-image="product1-hover.jpg">
        </div>
        <a href="product1.html" class="product-name">HOT-PINK-LAWN-3 PIECE (SAS233P53)
    </a>
        <div class="product-price">PKR.7,184</div>
   
    </div>

    <div class="product-item">
        <div class="product-image" id="pictwo" style="background-image: url('logos/pic2.webp');" 
             data-hover-image="product2-hover.jpg">
        </div>
        <a href="product2.html" class="product-name">BLACK-LAWN-3 PIECE (BSAS233P05)
            
            </a>
        <div class="product-price">PKR.6,784</div>
    
    </div>

    <div class="product-item">
        <div class="product-image" id="picthree" style="background-image: url('logos/pic3.webp');" 
             data-hover-image="product3-hover.jpg">
        </div>
        <a href="product3.html" class="product-name">FAWN-CAMBRIC-2 PIECE (SRLS232P07)
            
            </a>
        <div class="product-price">PKR.5,904</div>
  
    </div>

    <div class="product-item">
        <div class="product-image" id="picfour" style="background-image: url('logos/pic4.webp');" 
             data-hover-image="product4-hover.jpg">
        </div>
        <a href="product4.html" class="product-name">BLUE-YARN DYED-1 PIECE (SAS231P12)
            
            </a>
        <div class="product-price"> PKR.4,328</div>
     
    </div>
</div>

 
</main>


